APP_ID=your_app_id
APP_SECRET=your_app_secret
VERIFICATION_TOKEN=your_verification_token
ENCRYPT_KEY=your_encrypt_key
LARK_HOST=https://open.feishu.cn
SHEET_TOKEN=your_sheet_token
SHEET_RANGE=Sheet1!A2:B100
DATA_ROOT=data
TARGET_CHAT_ID=your_target_chat_id
